.frame-27 {
  align-items: flex-start;
  display: flex;
  min-width: 700px;
  mix-blend-mode: normal;
}
.frame-34 {
  align-items: center;
  display: flex;
  height: 40px;
  margin-left: 226px;
  min-width: 876px;
  position: relative;
}
.header-with-background {
  align-items: center;
  background-color: var(--white);
  box-shadow: 0px 2px 5px #00153429;
  display: flex;
  height: 72px;
  left: 4px;
  min-width: 1440px;
  mix-blend-mode: normal;
  padding: 0 80px;
  position: absolute;
  top: 0;
}
.overlap-group1-3 {
  height: 21px;
  position: relative;
  width: 49px;
}
.place-2 {
  height: 21px;
  left: 4px;
  letter-spacing: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 0;
}
.projects {
  height: 21px;
  margin-left: 27px;
  width: 79px;
}
.rectangle-61 {
  background-color: var(--red);
  height: 8px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 49px;
}
.selected {
  align-items: flex-start;
  display: flex;
  min-width: 51px;
}
.unselected-i2601234 {
  color: var(--black);
  height: 21px;
  margin-left: 26px;
  min-height: 21px;
  min-width: 65px;
  mix-blend-mode: normal;
}
.unselected-i2601234-1 {
  color: var(--black);
  height: 21px;
  margin-left: 27px;
  min-height: 21px;
  min-width: 70px;
  mix-blend-mode: normal;
}
.unselected-i2601234-2 {
  color: var(--black);
  height: 21px;
  margin-left: 35px;
  min-height: 21px;
  min-width: 52px;
  mix-blend-mode: normal;
}
.unselected-i2601234-3 {
  color: var(--black);
  height: 21px;
  margin-left: 32px;
  min-height: 21px;
  mix-blend-mode: normal;
}
.unselected-i2601234-4 {
  color: var(--black);
  height: 21px;
  margin-left: 31px;
  min-height: 21px;
  min-width: 47px;
  mix-blend-mode: normal;
}
.unselected-i2601234-5 {
  color: var(--black);
  height: 21px;
  margin-left: 31px;
  min-height: 21px;
  min-width: 39px;
  mix-blend-mode: normal;
}
