.construction {
  left: 4px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 110px;
}
.group-102 {
  align-items: flex-start;
  display: flex;
  margin-left: 2.0px;
  min-width: 270px;
}
.group-103 {
  align-items: flex-start;
  display: flex;
  min-width: 118px;
}
.overlap-group1-2 {
  height: 24px;
  position: relative;
  width: 116px;
}
.place-1 {
  color: var(--black);
  font-weight: 600;
  line-height: 24px;
  margin-left: 78px;
  min-height: 24px;
  min-width: 74px;
  mix-blend-mode: normal;
  text-align: center;
  white-space: nowrap;
  width: 74px;
}
.rectangle-46-1 {
  background-color: var(--red);
  height: 8px;
  left: 0;
  mix-blend-mode: normal;
  position: absolute;
  top: 14px;
  width: 116px;
}
