.button-i260779151-GqONSi {
  color: #cd424a;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.master-button-gAXIb9 {
  border-radius: 8px;
  height: 40px;
  opacity: 1;
  position: relative;
}
.x2607791 {
  height: 40px;
  left: 654px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 3853px;
  width: 140px;
}
