.button-i260754751-V82dLG {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}
.master-button-0sW4MC {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.x2607547 {
  height: 40px;
  margin-top: 32px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 152px;
opacity: 0;filter: blur(10px);
}
