.frame-29-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  min-height: 280px;
  width: 560px;
}
.span {
  color: var(--black);
}
.span-1 {
  color: var(--red);
}
.span2-1 {
  color: var(--red);
  font-weight: 600;
}
.text-4 {
  color: var(--black);
  font-weight: 800;
  height: 24px;
  line-height: 34px;
  margin-bottom: -10px;
  min-height: 24px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.text-5 {
  color: transparent;
  line-height: 24px;
  margin-top: 24px;
  min-height: 232px;
  width: 562px;
}
