.frame-1577 {
  align-items: flex-start;
  display: flex;
  height: 160px;
  margin-top: 40px;
  min-width: 412px;
  position: relative;
}
.frame-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 224px;
  width: 410px;
}
.text-37 {
  color: var(--white);
  font-weight: 800;
  height: 24px;
  line-height: 30px;
  margin-bottom: -6px;
  min-height: 24px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
